
body {
    background-color: #2C2F33;
    background-image: linear-gradient(to bottom right, #2C2F33, #3a475c);
    height: 100%;
}

.main {
    width: 100%;
    text-align: center;
    font-size: 3vw;

}

.font {
    position: relative;
    color: white;
    text-align: center;
    font-family: 'Spartan', monospace;
    list-style-position: inside;
    
}

.Footer {
    color: #b3b3b3;
    font-size: 2vw;
    top: 2vh;
    
}

/* This is the "main" tag for desktops, when screen is more than 700 */
@media screen and (min-width: 700px) {
    .main {
        position: relative;
        width: 40%;
        left: 30%;
        text-align: center;
        font-family: "Spartan", monospace;
        font-size: 1vw;
    }

    .Footer {
        color: #b3b3b3;
        font-size: 0.75vw;
        top: 2vh;   
    }
}



a.white:link {
    color: white;
}

a.white:visited {
    color: white;
}

a.white:hover {
    color: #b3b3b3;
}


a.foot:link {
    color: #b3b3b3;
}

a.foot:visited {
    color: #b3b3b3;
}

a.foot:hover {
    color: white;
}

.mantra {
    border-bottom: 1px solid white;
    position: relative;
    top: 5%;
    text-align: center;
    left: 15%;
    width: 70%;
    margin: 0 0 0 0;
    padding-bottom: 5px;

}

.divider {
    position: relative;
    top: 5%;
    text-align: center;
    left: 10%;
    width: 80%;
    margin: 0 0 0 0;
    border-bottom: 1px solid #b3b3b3;
}

.dividerWhite {
    position: relative;
    text-align: center;
    border-bottom: 1px solid white;
    width: 60%;
    left: 20%;

}